# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variable files
*.tfvars
*.auto.tfvars

# Credentials
*.pem
*.key
.aws/
*.pub
terra-key_ec2
# OS
.DS_Store
